  .hero-container {
    background-image: url("C:\Users\Beth\git\homework\ReactPortfolio\react-portfolio\src\images\pexels-suzy-hazelwood-1629236.jpg");
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: 200px;
    font-family:'Bebas Neue', cursive;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
  }
  

  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
     
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }